<table class="table table-borderless table-sm">
  <thead>
    <tr>
      <th scope="col">Order Details</th>
      <th scope="col">Payment Address</th>
      <th scope="col">Shipping Address</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Id: <%= order.id %> <br>
        Created: <%= order_presenter.created_at %><br>
        User:  <%= order.user_email %><br>
        Status: <%= order.state %><br>
        Payment status: <%= order.payment_state %><br>
        Shipment status: <%= order.shipment_state %>
      </td>
      <td>
        <address>
          Mozilla Foundation<br>
          331 E Evelyn Ave<br>
          Mountain View, CA 94041<br>
          USA
        </address>
      </td>
      <td>
        <address>
          Mozilla Foundation<br>
          331 E Evelyn Ave<br>
          Mountain View, CA 94041<br>
          USA<br>
        </address>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>
        <%= render partial: 'change_status_modal', locals: {resource: order, url: admin_order_status_path(order)} %>
      </td>
      <td>
        <%= render partial: 'change_status_modal', locals: { resource: order.payment, url: admin_payment_path(order.payment) } %>
      </td>
      <td>
        <%= render partial: 'change_status_modal', locals: { resource: order.shipment, url: admin_shipment_path(order.shipment) } %>
      </td>
    </tr>
  </tfoot>
</table>
