<table class="table table-borderless table-sm">
  <thead>
    <tr>
      <th scope="col">Order Details</th>
      <th scope="col">Payment Address</th>
      <th scope="col">Shipping Address</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Id: <%= order.id %> <br>
        Created: <%= order_presenter.created_at %><br>
        User:  <%= order.user.email %><br>
        Status: <%= order.state %><br>
        Payment status: <%= order.payment.state %>
      </td>
      <td>
        <address>
          Mozilla Foundation<br>
          331 E Evelyn Ave<br>
          Mountain View, CA 94041<br>
          USA
        </address>
        <%= render partial: 'payment_status_modal', locals: {payment: order.payment} %>
      </td>
      <td>
        <address>
          Mozilla Foundation<br>
          331 E Evelyn Ave<br>
          Mountain View, CA 94041<br>
          USA
        </address>
      </td>
    </tr>
  </tbody>
</table>
