<div class="card">
  <h4 class="card-header text-center">Your Cart</h4>
  <div class="card-body">
    <ul class= "list-group list-group-flush">
      <% items.each do |item| %>
        <% item_presenter = CartItemPresenter.new(item) %>
        <li class="list-group-item">
          <h4>
            <%= item_presenter.name %>
          </h4>
          <div class="row">
            <div class="col">
              <%= number_to_currency item_presenter.price %>
            </div>
            <div class="col">
              X <%= item.quantity %>
            </div>
            <div class="col">
              Total: 
              <h6><%= item_presenter.total_price %></h6>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <div class = "card-footer">
    <div class= "row">
      <div class= "col-6">
        <%= link_to "Check Out", cart_path, method: :post, class: 'btn btn-primary mx-1' %>
      </div>
      <div class = "col-6">
        <%= button_to "Empty Cart", cart_path, method: :delete, class: "btn btn-danger mx1 float-right" %>
      </div>
    </div>
  </div>
</div>
