<div class="col-6">
  <%= form_for product, url: admin_products_path, method: :post do |f| %>
    <div class="form-group">
      <%= f.label :name %><br/>
      <%= f.text_field :name, class: "form-control#{product_presenter.valid_class(:name)}" %>
      <%= content_tag :small, product_presenter.errors_for(:name), class: "text-danger" %>
    </div>
    <div class="form-group">
      <%= f.label :price %><br/>
      <%= f.number_field :price, class: "form-control#{product_presenter.valid_class(:price)}" %>
      <%= content_tag :small, product_presenter.errors_for(:price), class: "text-danger" %>
    </div>
    <div class="form-group">
      <%= f.label :brand_id %><br/>
      <%= f.select :brand_id, BrandPresenter.select_params, class: "form-control#{product_presenter.valid_class(:brand_id)}" , include_blank: true %>
      <%= content_tag :small, product_presenter.errors_for(:brand_id), class: "text-danger" %>
    </div>
    <div class="form-group">
      <%= f.label :category_id %><br/>
      <%= f.select :category_id, CategoryPresenter.select_params, class: "form-control#{product_presenter.valid_class(:category_id)}" , include_blank: true%>
      <%= content_tag :small, product_presenter.errors_for(:category_id), class: "text-danger" %>
    </div>
    <%=  f.label :photos %><br />
    <%= f.file_field :photos, multiple: true %>
    <%= f.submit "Submit" , class: "btn btn-primary" %>
  <% end %>
</div>
