<div class="col-lg-4 col-md-6 mb-4">
  <div class="card h-100 product-card">
    <% if product.photos.any? %>
      <%= image_tag product.photos.first, class: "card-img-top product-card-img" %>
    <% else %>
      <a href="#"><img class="card-img-top product-card-placeholder-img" src="http://placehold.it/700x400" alt=""></a>
    <% end %>
    <div class="card-body">
      <h4 class="card-title">
        <a href="#"><%= product.name %></a>
      </h4>
      <h6><%= product.brand.name %></h6>
      <h6><%= product.category.name %></h6>
      <h5><%= number_to_currency(product.price) %></h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
    </div>
    <% if current_admin_user %>
      <div class="card-footer">
        <%= button_to "Delete", admin_product_path(product), method: :delete, class: "btn btn-danger"%>
      </div>
    <% end %>
  </div>
</div>
